---
id: '1500f46b-72f9-4194-aafa-2222caf5a649'
title: 'Webroot Keycode Alerts'
title_meta: 'Webroot Keycode Alerts'
keywords: ['webroot', 'keycode', 'alerts', 'audit', 'endpoint']
description: 'This document outlines a solution that alerts administrators if a computer or multiple computers have an incorrect Webroot Keycode assigned. It includes dependencies and target information for effective implementation.'
tags: ['alert', 'audit', 'endpoint', 'security', 'software']
draft: false
unlisted: false
---
## Summary

Alerts if a computer or computers have the wrong Webroot Keycode assigned.

## Dependencies

- [SWM - Software Install - Solution - Webroot](https://proval.itglue.com/DOC-5078775-11665357)
- [SEC - Endpoint Protection - Dataview - Webroot KeyCode Audit[Script]](https://proval.itglue.com/DOC-5078775-8105261)
- [EPM - Data Collection - Script - Webroot Hashed Key Retrieval [DV]](https://proval.itglue.com/DOC-5078775-8223773)

## Target

Targets the Webroot Group created in the solution document in the Audit Process Setup Section.






