---
id: '1500f46b-72f9-4194-aafa-2222caf5a649'
slug: /1500f46b-72f9-4194-aafa-2222caf5a649
title: 'Execute Script - Webroot Keycode Verification'
title_meta: 'Execute Script - Webroot Keycode Verification'
keywords: ['webroot', 'keycode', 'alerts', 'audit', 'endpoint']
description: 'This document outlines a solution that alerts administrators if a computer or multiple computers have an incorrect Webroot Keycode assigned. It includes dependencies and target information for effective implementation.'
tags: ['security', 'software']
draft: false
unlisted: false
---

## Summary

This document alerts administrators if a computer or multiple computers have the wrong Webroot Keycode assigned.

## Dependencies

- [SWM - Software Install - Solution - Webroot](/docs/2b4f5b7f-0275-4114-8686-0084c1741c9d)
- [SEC - Endpoint Protection - Dataview - Webroot KeyCode Audit (Script)](/docs/5ed671db-6295-42ed-9f44-cd0b4203c4e4)
- [EPM - Data Collection - Script - Webroot Hashed Key Retrieval (DV)](/docs/4d3b24f2-a55a-4f57-8cad-1345d1e85060)

## Target

This targets the Webroot Group created in the solution document in the Audit Process Setup section.
