---
id: '1500f46b-72f9-4194-aafa-2222caf5a649'
title: 'Webroot Keycode Alerts'
title_meta: 'Webroot Keycode Alerts'
keywords: ['webroot', 'keycode', 'alerts', 'audit', 'endpoint']
description: 'This document outlines a solution that alerts administrators if a computer or multiple computers have an incorrect Webroot Keycode assigned. It includes dependencies and target information for effective implementation.'
tags: ['security', 'software']
draft: false
unlisted: false
---

## Summary

This document alerts administrators if a computer or multiple computers have the wrong Webroot Keycode assigned.

## Dependencies

- [SWM - Software Install - Solution - Webroot](<../../solutions/Webroot.md>)
- [SEC - Endpoint Protection - Dataview - Webroot KeyCode Audit (Script)](<../dataviews/Webroot KeyCode AuditScript.md>)
- [EPM - Data Collection - Script - Webroot Hashed Key Retrieval (DV)](<../scripts/Webroot Keycode Verification.md>)

## Target

This targets the Webroot Group created in the solution document in the Audit Process Setup section.
